/* Reset Padrão ------------------------------- */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html,body{
	height: 100%;
}
/* Classes Padrão ----------------------------- */
@font-face{
	font-family: CourierNew;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/CourierNew.ttf');
}

@font-face{
	font-family: CourierNewBold;
	font-style: bold;
	font-weight: normal;
	src: url('../fonts/CourierNewBold.ttf');
}

@font-face{
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Bahnschrift.ttf');
}

.clear {
	clear: both;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	text-align: center;
}

h1,h2{
	font-family: "CourierNewBold";
	font-style: bold;
}

p,span{
	font-family: "Bahnschrift";
}

svg{
	display: inline-block;
	font-size: inherit;
	height: 1.5em;
	overflow: visible;
}	
/* Home -------------------------------------- */
section.home{
	background-image: linear-gradient(to right, #292929, #777676, #292929);
	color: #fff;
	min-height: 100%;
	padding: 2%;
	width: 100%;
}

section.home img{
	display: inline-block;
	height: 260px;
	width: 260px;
}

section.home h1{
	color: #fff;
	font-style: bold;
	font-size: 40px;
	padding-bottom: 10px;
	position: relative;
	top: -15px;
	text-shadow: 0 0 .2px #707070;
}

section.home button{
	background-color: #363636;
	border: 1px solid #707070;
	border-radius: 10px;
	display: block;
	font-family: "CourierNew";
	font-size: 40px;
	margin: 20px auto 0px auto;
	height: 100px;
	text-transform: uppercase;
	width: 500px;
}

section.home button:hover a{
	color: #646464;
}

section.home button a{
	color: #fff;
	display: block;
	height: 100%;
	line-height: 250%;
	text-decoration: none;
	text-shadow: 0 0 0.2px #707070;
	transition: .8s;
	width: 100%;
}
/* Header ------------------------------------ */
header{
	background-color: #DFDFDF;
}

header .container{
	padding: 0 2%;
}

header img{
	max-width: 450px;
	max-height: 300px;
	width: 90%;
}

header .border{
	filter: blur(6px);
	width: 100%;
	height: 2px;
	background-color: #707070;
	
}
/* Who --------------------------------------- */
section.who{
	background-color: #DFDFDF;
	padding: 0 2%;
}

section.who h1{
	color: #000;
	font-size: 50px;
	font-style: bold;
	padding: 30px 0;
	text-shadow: 5px 5px 5px #B4B4B4;
	text-transform: uppercase;
}

section.who p{
	font-size: 25px;
	margin-bottom: 30px;
}

section.who .wraper{
	margin-top: 100px;
	text-align: right;
	width: 100%;
}

section.who .wraper .img{
	max-height: 624px;
	max-width: 528px;
	padding: 0 2%;
	width: 45%;
}

section.who .wraper .img img{
	width: 100%;
	height: 100%;
}

section.who .wraper .img1{
	float: left;
}

section.who .wraper .img2{
	float: right;
	margin-bottom: 50px;
}

section.who .wraper .img1 img{
	border-radius: 30px;
	box-shadow: -15px 15px 10px 0px #B4B4B4;
	-webkit-box-shadow: -15px 15px 10px 0px #B4B4B4; 
	float: left;
}

section.who .wraper .img2 img{
	border-radius: 30px;
	box-shadow: 15px 15px 10px 0px #B4B4B4;
	-webkit-box-shadow: 15px 15px 10px 0px #B4B4B4; 
}

section.who .wraper .wraper2{
	float: left;
	text-align: left;
	width: 50%;
}

section.who .wraper:nth-of-type(1) .wraper2{
	float: right;
	text-align: right;
}

section.who .wraper .wraper2 h2{
	font-size: 50px;
	margin-bottom: 50px;
	text-shadow: 5px 5px 5px #B4B4B4;
}

section.who .wraper .wraper2 p{
	font-size: 30px;
	letter-spacing: 16;
	line-height: 40px;
}
/* Division ---------------------------------- */
section.division{
	background-color: #DFDFDF;
	height: 250px;
	padding: 20px 0;
	width: 100%;
}
section.division .logo-mini{
	background-image: url('../images/logo-mini.png');
	background-repeat: repeat-x;
	background-position: center;
	background-size: 350px 180px;
	width: 100%;
	height: 100%;
}
/* About ------------------------------------- */
section.about{
	background-color: #DFDFDF;
	text-align: center;
	padding: 0 2%;
}

section.about h1{
	padding: 40px 0 80px 0;
	color: #000;
	font-size: 50px;
	font-style: bold;
	text-shadow: 5px 5px 5px #B4B4B4;
	text-transform: uppercase;
}

section.about .wraper{
	float: left;
	width: 33.3%;
	height: 300px;
}

section.about .wraper .box{
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 15px 10px 10px 2px #B4B4B4;
	-webkit-box-shadow: 15px 10px 10px 2px #B4B4B4; 
	display: inline-block;
	height: 140px;
	width: 160px;
}

section.about .wraper .box p{
	font-family: "CourierNewBold";
	font-size: 50px;
	line-height: 140px;
	padding-top: 5px;
	text-shadow: 5px 5px 5px #B4B4B4;
}

section.about .wraper > p{
	color: #363636;
	font-size: 30px;
	padding-top: 20px;
}
/* Footer ------------------------------------ */
footer{
	background-color: #363636;
	padding: 30px 2%;
	text-align: center;
	max-height: 430px;
	overflow: hidden;
}

footer .wraper-btn{
	max-height: 430px;
	float: left;
	width: 40%;
}

footer .wraper-btn > img{
	margin-left: 100px;
	margin-top: 10px;
	width: 150px;
}

footer .wraper-btn a{
	margin-left: 130px;
	max-width: 350px;
	position: relative;
	left: 100px;
	top: -100px;
	width: 90%;
}

footer .wraper-btn a img{
	max-width: 350px;
	width: 100%;
}

footer .wraper-btn h2{
	color: #FFF;
	font-family: "CourierNewBold";
	font-size: 30px;
}

footer a{
	color: #FFF;
	display: block;
	font-family: "CourierNewBold";
	font-size: 30px;
	text-decoration: none;
}

footer .wraper{
	height: 200px;
	float: right;
	width: 50%;
}

footer .wraper .box{
	position: relative;
	top: 50%;
}

footer span{
	color: #FFF;
	display: inline-block;
	font-size: 30px;
	padding: 0 0 20px 10px;
	padding-left: 10px;
	-webkit-touch-callout: text;
   -webkit-user-select: text;
   -khtml-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}

footer .wraper svg:nth-of-type(1){
	height: 1.7em;
}
/* Responsive -------------------------------- */
@media screen and (max-width: 1024px){

	section.home button{
		font-size: 36px;
	}

	section.home button a{
		line-height: 275%;
	}

	section.who h1{
		font-size: 40px;
	}

	section.who p{
		margin-bottom: 50px;
	}

	section.who .wraper {
		margin: 0;
		padding-top: 30px;
	}

	section.who .wraper {
		margin: 0;
		padding-top: 30px;
	}

	section.who .wraper .img{
		width: 100%;
		margin: 0 auto;
	}

	section.who .wraper .wraper2{
		width: 100%;
		text-align: center;
	}

	section.who .wraper .img1, section.who .wraper .img2{
		float: none;
	}

	section.who .wraper:nth-of-type(1) .wraper2{
		text-align: center;
	}

	section.who .wraper .wraper2 h2{
		font-size: 36px;
		margin: 30px 0;
	}

	section.who .wraper .wraper2 p{
		font-size: 24px;
	}

	section.division{
		height: 190px;
	}

	section.division .logo-mini{
		background-size: 300px 155px;
	}

	section.about h1{
		font-size: 40px;
	}

	section.about .wraper{
		width: 50%;
		height: 285px;
	}

	section.about .wraper .box{
		height: 120px;
		width: 135px;
	}

	section.about .wraper .box p{
		font-size: 36px;
		line-height: 120px;
	}

	footer{
		max-height: 300px;
	}

	footer .wraper-btn > img{
		width: 100px;
		margin-left: 50px;
	}

	footer .wraper-btn a img{
		max-width: 250px;
		width: 60%;
	}

	footer .wraper{
		height: 150px;
		width: 40%;
	}

	footer .wraper span{
		font-size: 28px;
	}
}

@media screen and (max-width: 900px){

	footer{
		max-height: 1000px;
	}

	footer .wraper-btn{
		float: none;
		height: 250px;
		width: 100%;
	}

	footer .wraper-btn > img{
		margin-left: 30px;
	}

	footer .wraper-btn a{
		left: 220px;
	}

	footer .wraper{
		float: none;
		height: 100px;
		margin-bottom: 50px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){

	header img{
		width: 70%;
	}

	section.home button{
		font-size: 32px;
		height: 90px;
		width: 450px;
	}

	section.division .logo-mini{
		background-size: 250px 130px;
	}

	section.about .wraper{
		height: 260px;
	}

	section.about .wraper .box{
		height: 80px;
		width: 100px;
		box-shadow: 10px 7px 10px 2px #B4B4B4;
		-webkit-box-shadow: 10px 7px 10px 2px #B4B4B4; 
	}

	section.about .wraper .box p{
		line-height: 75px;
	}

	section.about .wraper > p{
		font-size: 26px;
	}

	footer .wraper-btn{
		margin: 30px auto;
		text-align: center;
	}

	footer .wraper{
		margin: 0 auto 60px auto;	
	}

	footer .wraper-btn a{
		left: 190px;
	}
}

@media screen and (max-width: 700px){
	
	footer .wraper-btn a{
		left: 140px;
	}
}

@media screen and (max-width: 630px){

	footer .wraper-btn a{
		left: 100px;
	}
}

@media screen and (max-width: 580px){

	section.home img{
		height: 240px;
		width: 240px;
		margin-top: 20px;
	}

	section.home h1{
		font-size: 30px;
	}

	section.home button{
		font-size: 30px;
		height: 80px;
		width: 390px;
	}

	section.who p {
		font-size: 22px;
	}

	section.who .wraper .wraper2 h2 {
		font-size: 30px;
	}

	section.who .wraper .wraper2 p{
		font-size: 20px;
	}

	section.who .wraper .img1 img{
		box-shadow: -10px 10px 8px 0px #B4B4B4;
		-webkit-box-shadow: -10px 10px 8px 0px #B4B4B4; 
	}

	section.who .wraper .img2 img{
		box-shadow: -10px 10px 8px 0px #B4B4B4;
		-webkit-box-shadow: -10px 10px 8px 0px #B4B4B4; 
	}

	section.about h1{
    	font-size: 30px;
	}

	footer .wraper-btn a{
		left: 70px;
	}

	footer span{
		font-size: 24px;
	}
}

@media screen and (max-width: 530px){

	footer .wraper-btn a{
		left: 40px;
	}
}

@media screen and (max-width: 500px){

	section.home h1{
		font-size: 26px;
	}
	
	footer .wraper-btn a{
		left: 20px;
	}
}

@media screen and (max-width: 450px){

	section.home button{
		font-size: 18px;
		height: 70px;
		width: 250px;
	}

	section.home button a{
		line-height: 400%;
	}

	footer .wraper-btn > img{
		margin-left: 0px;
	}

	footer .wraper-btn a{
		left: 0px;
	}
}

@media screen and (max-width: 400px){
	
	section.home h1{
		font-size: 20px;
	}

	section.about .wraper {
	    width: 100%;
	    height: 250px;
	}

	section.division .logo-mini{
		background-size: 90%;
	}

	footer .wraper-btn a img{
		max-width: 200px;
	}

	footer .wraper-btn a{
		left: -20px;
	}

	footer .wraper{
		margin-top: 60px;
	}
}

@media screen and (max-width: 350px){

	footer .wraper-btn a{
		left: -20px;
		top: -40px;
	}

	footer .wraper-btn a img{
		max-width: 150px;
		top: 20px;
	}

	footer .wraper .box{
		top: 0;
	}

	footer .wraper .box span{
		font-size: 20px;
		padding-left: 0;
	}

	footer .wraper .box svg{
		height: 1em;
	}

	footer .wraper .box svg:nth-of-type(1){
		height: 1.2em;
	}
}

@media screen and (max-width: 300px){

	footer .wraper-btn a{
		left: -20px;
		top: -40px;
	}

	footer .wraper-btn a img{
		max-width: 150px;
		top: 20px;
	}
}

@media screen and (max-width: 260px){

	section.home img{
		height: 200px;
		width: 200px;
		margin-top: 20px;
	}


	section.home button{
		font-size: 10px;
		height: 45px;
		width: 150px;
	}

	section.home button a{
		line-height: 475%;
	}

	footer .wraper-btn a{
		left: -50px;
	}

	footer .wraper .box span{
		font-size: 12px;
	}

	footer .wraper .box svg{
		height:0.61em;
	}

	footer .wraper .box svg:nth-of-type(1){
		height: 0.7em;
	}
}

@media screen and (max-width: 200px){
	
	section.home img{
		height: 100px;
		width: 100px;
	}

	section.home h1{
		font-size: 16px;
	}
}